div.max-largo.curto
  h1 Seletor de Licenças
  div.explicacao
    p Para saber qual licença escolher, verifique que material pretende licençar e escolha entre as opções abaixo. Uma vez tenha escolhida a licença, copie seu link e inclua no material a ser disponibilizado.
